.wrapper
  .side-nav
    .user-info
      .user-name seo
    .member-groups
      %ul
        %li<
          .member-group
            .group-name sample
            .group-last-message  Hello world
        %li<
          .member-group
            .group-name sample2
            .group-last-message Good bye world
  .main-content
    .group-info
      .group-name sample
      .group-members Members: seo, neko
    .group-messages
      %ul
        %li<
          .group-message
            .user-name seo
            .post-message Hello world!
        %li<
          .group-message
            .user-name neko
            .post-date 2016/09/22 06:16:55
            .post-message Good bye world!
    .message-column
