.wrapper
  .side-nav
    .user-info
      .user-name seo
    .member-groups
      %ul
        %li<
          sample
          %br
          Good bye world
  .main-content
    .group-info
      sample
    .group-messages
      %ul
        %li<
          seo 2016//21 06:10:56
          %br
          Hello world!
        %li<
          neko 2016/09/22 06:16:55
          %br
          Good bye world!
    .message-column
