.notification{
  position: fixed;
  width: 100%;
  clear: both;
  z-index: 20;

  .notice{
    background-color: $skyblue;
    color: $white;
    text-align: center;
  }

  .alert{
    background-color: $orange;
    color: $white;
    text-align: center;
  }
}
