.wrapper{
  @include block(100vw, 100%);
  overflow: hidden;
}

.side-nav{
  @include block(300px, 100vh, $white, left);

   .user-info{
    @include block(300px, 100px, #253141);
    padding: 45px 20px;

    .user-name{
      @include font(16px, $white, bold);
      float: left;
    }

    .fa-cog{
      color: $white;
      float: right;
      margin-left: 10px;
    }

    .fa-edit{
      color: $white;
      float: right;
    }
  }

  .member-groups{
    @include block(300px, 100%, #2f3e51);
    padding: 20px 20px 0;

    .member-group{

      .group-name{
        @include font(15px, $white);
        margin-bottom: 5px;
      }

      .group-last-message{
        @include font(11px, $white);
        margin-bottom: 40px;
      }
    }
  }
}

.main-content{
  @include block(#{calc(100vw - 317px)}, 100%, $white, left);

  .group-info{
    @include block(100%, 100px, $white);
    padding: 0 40px;

    .group-name{
      @include font(20px,  #333333);
      padding: 35px 0 15px;
      float: left;
    }

    .group-members{
      @include font(12px, #999999);
      clear: both;
    }

    .group-edit-button{
      @include font(12px, #72D1f7, bold);
      @include border(2px, #72D1F7, solid);
      padding: 10px 20px;
      margin-top: 28px;
      float: right;
    }
  }

  .group-messages{
    @include block(100%, 100%, #FAFAFA);
    min-height: calc(100vh - 100px);
    padding: 46px 40px 0;

    .group-message{

      .user-name{
        @include font(16px, #434A54, bold);
        padding: 0 10px 10px 0;
        float: left;
      }

      .post-date{
        @include font(12px, #999999);
        padding-top: 4px;
      }

      .post-message{
        @include font(14px, #434A54);
        padding-bottom: 40px;
        clear: both;
      }
    }
  }

  .message-column{
    @include block(100%, 90px, #DDDDDD);
    position: fixed;
    bottom: 0;
    padding: 20px 40px 20px 50px;

    .input-space{
      @include font(12px, #DDDDDD);
      @include block(#{calc(100% - 440px)}, 50px, $white, left, content-box);
      padding-left: 10px;

      .fa-image{
        float: right;
        padding: 15px 10px;
      }
    }

    .send-button{
      @include font(16px, $white);
      @include block(30px, 23px, #38AEF0, left, content-box);
      padding: 15px 40px;
      margin-left: 25px;
    }
  }
}
