.wrapper{
  @include block(100vw, 100%);
  overflow: hidden;
}

.side-nav{
  @include block(300px, 100vh, $white, left);
  position: fixed;

  .user-info{
    @include block(300px, 100px, $midnightblue);
    padding: 45px 20px;

    &__user-name{
      @include font(18px, $white, bold);
      float: left;
    }

    .fa-bars{
      color: $white;
      float: left;
      margin-right: 15px;

      &:hover{
        cursor: pointer;
      }
    }

    .fa-cog{
      color: $white;
      float: right;
      margin-left: 10px;

      &:hover{
        cursor: pointer;
      }
    }

    .fa-edit{
      color: $white;
      float: right;

      &:hover{
        cursor: pointer;
      }
    }
  }

  .member-groups{
    @include block(300px, 100%, $navy);
    padding: 20px 20px 0;

    .member-group{

      &__group-name{
        @include font(18px, $white);
        margin-bottom: 5px;
      }

      &__group-last-message{
        @include font(14px, $white);
        margin-bottom: 40px;
      }
    }
  }
}

.main-content{
  @include block(100vw, 100%, $white, left);
  padding-left: 300px;

  .header-group-info{
    @include block(calc(100% - 300px), 100px, $white);
    min-width: 1000px;
    padding: 0 40px;
    z-index: 10;
    position: fixed;

    &__group-name{
      @include font(22px, $black);
      padding: 35px 0 15px;
      float: left;
    }

    &__group-members{
      @include font(15px, $gray);
      clear: both;
    }

    &__group-edit-button{
      @include font(15px, $lightskyblue, bold);
      @include border(2px, $lightskyblue, solid);
      padding: 10px 20px;
      margin-top: 28px;
      border-radius: 10px;
      float: right;

      a{
        text-decoration: none;

        &:link{
          color: $lightskyblue;
        }
        &:visited{
          color: $lightskyblue;
        }
      }
    }

    .fa-search,.fa-search-plus,.fa-search-minus{
      font-size: 18px;

      &:hover{
        cursor: pointer;
      }
    }

    #user-search-field{
      height: 18px;
      width: 400px;
      display: none;
      border: 1px solid black;
      border-radius: 5px;
      font-size: 14px;
      margin-left: 10px;
      margin-bottom: -4px;
    }
  }

  .group-messages{
    @include block(100%, 100%, $ivory);
    min-width: 1000px;
    min-height: 100vh;
    padding: #{calc(46px + 100px)} 40px 90px;

    .group-message{

      padding-bottom: 30px;

      &__user-name{
        @include font(18px, $slategray , bold);
        padding: 20px 20px 0 0;
        display: table-cell;
        vertical-align: top;
      }

      &__post-message{
        @include font(17px, $slategray);
        width: 700px;
        padding: 20px;
        display: table-cell;
        word-break: break-all;

        &__menu{
          width: 100px;
          height: 10px;
          padding: 5px;
          float: right;

          .fa-heart{
            color: red;
            font-size: 15px;
            padding-right: 10px;
            float: left;

            &:hover{
              cursor: pointer;
            }
          }

          .fa-heart-o{
            font-size: 15px;
            padding-right: 10px;
            float: left;

            &:hover{
              cursor: pointer;
            }
          }

          .fa-trash{
            font-size: 15px;
            padding-right: 10px;
            float: left;

            &:hover{
              cursor: pointer;
            }
          }

          .fa-edit{
            font-size: 15px;
            padding-right: 10px;
            float: left;

            &:hover{
              cursor: pointer;
            }
          }
        }

        &__post-date{
          @include font(12px, $gray);
          margin-top: 5px;
          display: inline-block;
          float: right;
        }
      }
    }

    .group-message__edit-form{
      @include block(100%, 60px, $floralwhite);
      width: 740px;
      padding: 10px 20px 10px 20px;
      border-radius: 10px;
      margin-left: 90px;

      &__input-space{
        @include font(15px, $black);
        @include block(580px, 40px, $white, left, content-box);
        border: none;
        padding-left: 10px;
        border-radius: 10px 10px 10px 10px;

        &:focus{
         outline: none;
        }
      }

      &__send-button{
        @include font(18px, $white);
        @include block(30px, 16px, #38AEF0, left, content-box);
        padding: 10px 35px 10px 15px;
        margin-left: 20px;
        border-radius: 10px;
      }
    }
  }

  .my-message{
    position: relative; 
    margin: 5px 0 0 15px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #d7ebfe;

    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      top: 18px;
      left: -24px;
      border: 12px solid transparent;
      border-right: 12px solid #d7ebfe;
    }
  }

  .others-message{
    position: relative; 
    margin: 5px 0 0 15px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #d7ead1;

    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      top: 18px;
      left: -24px;
      border: 12px solid transparent;
      border-right: 12px solid #d7ead1;
    }
  }

  .footer-message-column{
    @include block(100%, 90px, $floralwhite);
    min-width: 1000px;
    position: fixed;
    bottom: 0;
    padding: 20px 300px 20px 50px;

    &__input-space{
      @include font(15px, $black);
      @include block(#{calc(100% - 200px)}, 50px, $white, left, content-box);
      border: none;
      padding-left: 10px;
      border-radius: 10px 0 0 10px;

      &:focus{
       outline: none;
      }
    }

    &__whitespace{
      @include block(40px, 50px, $white, left, content-box);
      border-radius: 0 10px 10px 0;

      .fa-image{
        color: $black;
        float: right;
        padding: 16px 10px;

        &:hover{
          cursor: pointer;
        }
      }

      .hidden{
        display: none;
      }
    }

    &__send-button{
      @include font(18px, $white);
      @include block(30px, 16px, #38AEF0, left, content-box);
      padding: 15px 50px 15px 30px;
      margin-left: 25px;
      border-radius: 10px;

      &:hover{
        cursor: pointer;
      }
    }
  }
}
